/* Edu Tas Beginner and Sometype Mono font import */
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

.background-wall {
    background-image: url("../img/wall.png");
    background-size: contain;
}

.background-cork {
    background-image: url("../img/cork.png");
    background-size: contain;
}

.sometype-mono-regular {
    font-family: "Sometype Mono", monospace;
}

.edu-tas-beginner-title {
    font-family: "Edu TAS Beginner", serif;
    font-size: 5rem;
}

.edu-tas-beginner-paragraph {
    font-family: "Edu TAS Beginner", serif;
}

.rotation {
    transition: transform 0.5s ease;
}

.rotation:hover {
    transform: rotate(20deg);
    cursor: pointer;
}

section:hover a {
    display: none;
}

.background-transparent {
    background-color: rgba(0, 0, 0, 0.8);
}